<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPOTIyAngfRN-cf3A_K--t_QDe0XjmuUw</string>
	<key>GCM_SENDER_ID</key>
	<string>12876889618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dfresh.ios</string>
	<key>PROJECT_ID</key>
	<string>d-fresh-727f4</string>
	<key>STORAGE_BUCKET</key>
	<string>d-fresh-727f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12876889618:ios:be76e00580ecf50db422cb</string>
</dict>
</plist>